<div class="row flex-container">
  <div class="col-md-6 col-lg-4 col-sm-12" *ngFor="let group of groups">
    <div class="panel box-shadow">
      <div class="panel-body">
        <h4>
          <a [routerLink]="['/group', group.id, group.name]">
            <img src="{{group.avatar_url}}" class="avatar avatar-sm img-circle" alt="avatar"
                 title="group.name" *ngIf="group.avatar_url">
            {{group.name}}
          </a>
          <a href="{{group.web_url}}" class="pull-right">
            <i class="fa fa-external-link"></i>
          </a>
        </h4>
      </div>
    </div>
  </div>

  <div class="col-sm-12" *ngIf="hasNext">
    <div class="panel box-shadow">
      <div class="panel-body text-center">
        <button class="btn btn-default text-muted" (click)="loadNextPage()">Next Page <i class="fa fa-arrow-down"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="col-sm-12" *ngIf="groups.length == 0">
    <div class="panel box-shadow">
      <div class="panel-body">
        <h4 class="text-center">
          We couldn't find any results matching <span class="text-danger">{{search}}</span>
        </h4>
      </div>
    </div>
  </div>
</div>
